@font-face{
	font-family: 'Lovelo Black';
	src: url(./fonts/lovelo/LoveloBlack.otf);

	font-family: 'Product Sans';
	src: url(./fonts/ProductSans/ProductSans.ttf);
}

.darkmode{
	background-color: black;
	color: white;
}

.font_main{
	font-family: 'Lovelo Black';
}

.font_sub{
	font-family: 'Product Sans';
}

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html,
body{
	box-sizing: border-box;
	color: black;

}


.container{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	height: 100vh;
	width: 100%;
}


.base{
	grid-column: 4/9;
}

.links{
	text-decoration: none;
}

.post_container{
	height: auto;
	margin-bottom: 1em;
	padding: 1em;
}

.post_container .post_title{
	font-size: 2em;
	margin-bottom: .5em;
	font-family: 'Lovelo Black';
}

.post_p{
	font-size: 1.1em;
	text-align: justify;
	font-family: 'Product Sans';
}

/* 

body {
	background-color: #f5f5f5;
	color: #333;
	transition: background-color 0.5s ease;
}

body.dark-mode {
	background-color: #333;
	color: #f5f5f5;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.mode-switch {
	display: flex;
	align-items: center;
}

.mode-toggle-label {
	display: inline-block;
	background-color: #f5f5f5;
	border-radius: 30px;
	width: 60px;
	height: 30px;
	position: relative;
	cursor: pointer;
}

.mode-toggle-label:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.mode-toggle-label:after {
	content: "Light";
	position: absolute;
	top: 5px;
	right: -40px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

.mode-toggle-label:hover:before {
	transform: translateX(30px);
}

.mode-toggle-label:hover:after {
	transform: translateX(-10px);
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked + .mode-toggle-label {
	background-color: #333;
}

input[type="checkbox"]:checked + .mode-toggle-label:before {
	transform: translateX(30px);
	background-color: #333;
}

*/

@media  {
	
}