/* navigation */

nav{
	grid-row: 2/2;
	grid-column: 2/12;
	background-color: #ffffe3;
	height: 60px;
	width: 100%;
	border-radius: 40px;
}

#profile{
	position: absolute;
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 100%;
	top: 70px;
	left: 140px;
	margin-right: 1em;
}

#logo{
	color: #414141;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 60px;
	float: left;
	text-decoration: none;
	position: relative;
	margin-left: 3em;
}

.nav_menu{
	float: right;
	list-style-type: none;
	display: flex;
	line-height: 60px;
	margin-right: 3em;
}


.nav_menu li{
	padding: 0 1em 0 1em;
}

.nav_link{
	color: #414141;
	text-decoration: none;
	padding: .5em;
	border-radius: 10px;
	transition: 200ms ease-in-out;
}

#logo_wrap{
	float: left;
	width: 250px;
	height: 60px;
	display: flex;
	padding: 0 2em 0 0;
}


.nav_link:hover{
	background-color: #414141;
	color: #ffffe3;
}

/*
content container 

For this I will try to implement a 4 column layout for my blogs

*/

.content_container{
	grid-row: 4/12;
	grid-column: 2/12;
	width: 100%;
}

.content{
	background-color: aquamarine;
	border-radius: 10px;
	padding: 2em;
	text-align: justify;
}

.content_title{
	font-size: 3em;
}

.content p{
	margin-top: .5em;
	font-weight: 200;
}

/* main > header */
